.getloan_contaier{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

.getloan_form_div{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.getloan_form_div .input{
    width: 520px;
    margin-bottom: 50px;
}

.getloan_form_div Button{
    padding: 10px 50px;
}

.getloan_upper {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 40px;
}


.repayloan{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

.repayloan_second{
    margin-top: 100px;
}

.repayloan_first h2{
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 40px;

}

.repayloan_second Button{
    padding: 10px 50px;
    font-size: 20px;
}

.addCollateral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

.input_addcoll {
    width: 600px;
}


.addCollateral Button{
    margin-top: 50px;
    padding: 10px 50px;
    font-size: 20px;
    /* width: 230px; */
}


.widcollateral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}


.input_widcollateral{
    width: 600px;

}

.widcollateral Button{
    margin-top: 50px;
    padding: 10px 50px;
    font-size: 20px;
    /* width: 230px; */
}



.liquidate{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}


.input_liquidate{
    width: 600px;

}

.liquidate Button{
    margin-top: 50px;
    padding: 10px 50px;
    font-size: 20px;
    /* width: 230px; */
}